<?xml version="1.0" encoding="UTF-8"?>
<module>
	<name>Sociallike</name>
	<description>Social Like Buttons For Your Website Websites  // Author : ukyo | web : http://www.6ve1.com</description>
	<uri_segment>sociallike</uri_segment>
	<has_admin>true</has_admin>
	<access_group>admins</access_group>
</module>
